.cart-card-body {
    border: solid;
    border-color: #850c5d;
    margin-bottom: 15px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

h4.card-header {
    margin-top: 10px;
}

h4.card-header > a {
    position: center;
    color: maroon;
    font-size:24px;
    margin-left: 15px;
}

.price-tag{
    position: absolute;
    top: 70px;
    right: 100px;
    font-size: 30px;
}

.quantity-picker {
    position: absolute;
    bottom: 60px;
    left: 30px;

    font-size: 20px;
}
.cart-quantity-input {
    height: 40px;
    width: 38px;
    margin-left: 10px;
    border-radius: 4px;
    border-color: black;
}

.remove-from-chart-button {
    position:absolute;
    padding: 5px 15px;
    background: #ccc;
    border: 2px solid;
    border-color: #850c5d;
    border-radius: 5px;
    bottom: 25px;
    right: 50px;
}

