/*Filter bar
---------------------------------------------------*/
@media screen and (max-width: 1200px) {
    .cell-body {
        display: none;
    }
}

.cell-body {
    color: white;
    padding: 15px;
    border: solid;
    border-color: black;
    border-radius: 8px;
    position: absolute;
    height: 860px;
    width: 250px;
    top: 66px;
    left: 3px;
    background-color: #8a8cb5;
}

    .cell-body > form > div.category-filter {
        max-height: 160px;
        overflow-y: auto
    }

    .cell-body > form > div.manufacturer-filter {
        max-height: 160px;
        overflow-y: auto
    }

hr.horizontal-line {
    border: 3px solid #850c5d;
    border-radius: 5px;
    padding: 0px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        background: #850c5d;
        cursor: pointer;
    }

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #850c5d;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #a41173;
    }


input[type=submit] {
    margin-left: 45px;
    padding: 5px 15px;
    background: #ccc;
    border: 2px solid;
    border-color: #850c5d;
    border-radius: 5px;
}