/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: #cfd1fa;
}


   

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: black;
}



.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.cart-button {
    position: relative;
    color: white;
    background-color: #f44336;
    border-color: crimson;
    border-radius: 8px;
    padding: 8px 8px;
    float: right;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .card {
        width: auto !important;
    }
}


.column > div.card {
    border: solid;
    border-color: #850c5d;
    height: 500px;
}

    .column > div.card > div.card-body {
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

        .column > div.card > div.card-body > p.card-text {
            max-height: 85px;
        }

    .column > div.card > divcard-header {
        text-align: left;
        background-color: none;
        border: hidden;
    }

.rating {
    display: inline;
    margin: 0 auto;
}

.checked {
    color: orange;
}

.column > div.card > div.card-body > p.card-text {
    margin-top: 5px;
}

.column > div.card > img.card-img-top {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    max-width: 250px;
    width: auto;
}

.text-original-price {
    color: grey;
    font-size: 18px;
    text-decoration: line-through;
}

.text-discounted-price {
    font-size: 22px;
    color: red;
}

.card-bottom {
    margin-top: auto;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Full item view styles
-------------------------------------------------- */

.item-full-view > div.card-body {
    padding: 0px;
    height: 350px;
    margin-bottom: 30px;
}



.item-full-view > div.col-5 {
    background-color: red;
}

.specification-container {
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    grid-row-gap: 15px;
}

@media screen and (max-width: 600px) {
    .specification-container {
        display: grid;
        grid-template-columns: auto;
    }

    .item-fullview-name {
        color: maroon;
        font-size: 16px;
    }

    .text-info {
        font-size: 12px !important;
    }
}

@media screen and (min-width: 601px) {
    .specification-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .item-fullview-name {
        color: maroon;
        font-size: 30px;
    }
}

.specification-container > div.specification-item {
    text-align: left;
    color: black;
    font-size: 16px;
    border-bottom: 1px solid;
}

.input-field-for-quantity {
    height: 40px;
    width: 38px;
    margin-left: 30px;
    border-radius: 4px;
    border: ridge;
}

.cart-adding > button.cart-button {
    position: absolute;
    margin-left: 10px;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
